<% content_for :top_content do %>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to WolfPal!</h1>
        <p>Register to get started.</p>
        <p>
          <%= link_to 'Register', new_student_registration_path, class: 'btn btn-primary btn-lg' %>
        </p>
      </div>
    </div>
<% end %>

<% content_for :left_content do %>
    <div class="jumbotron">
      <div class="container">
        <%= render 'layouts/chatlio' %>
        <h2>List of courses and relevant filters</h2>
        <%= render 'layouts/courseList' %>
      </div>
    </div>
<% end %>


<% content_for :right_content do %>
    <div class="jumbotron">
      <div class="container">
        List of selected course goes this side.
      </div>
    </div>
<% end %>
